<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Heebo&display=swap" rel="stylesheet">
  </head>
  <body>
  <div id="root"></div>
  </body>
</html>
